.watchlist {
  padding: 20px;
  min-height: 10%;
  height: fit-content;
  max-height: fit-content;
  background-color: #ffffff;
  width: 300px;
  margin-left: 20px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.112);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.isOver {
  background-color: #e0e0e0;
}

.headerRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}

.headerCell {
  font-weight: bold;
}

.coinRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.coin {
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coinIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Media Queries */
@media (max-width: 768px) {
  .watchlist {
    width: 100%;
    margin-left: 0;
  }

  .headerRow, .coinRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .coinIcon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .watchlist {
    margin-top: 35%;

    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    max-height: 200px;
    overflow-y: scroll;
    max-width: 400px;
  }

  .headerRow, .coinRow {
    padding: 5px 0;
  }

  .headerRow, .coinRow {
    flex-direction: row;
    align-items: flex-start;
  }

  .coinIcon {
    width: 18px;
    height: 18px;
  }
}
